server:
  port: 8082

spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password:
  jpa:
    database: postgresql
    hibernate:
      ddl-auto: update

    properties:
      hibernate:
        format_sql: true
        show_sql: true
  data:
    jdbc:
      dialect: postgresql

rocketmq:
  producer:
    group: ddd-marketing-producer-group
    send-message-timeout: 3000
  name-server: 127.0.0.1:9876

outbox:
  draw-award-received:
    topic: drawAwardReceived
    max-retry-count: 5

logging:
  level:
    root: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org.postgresql: DEBUG
    org.postgresql.jdbc: DEBUG
    org.springframework.data: DEBUG
    org.springframework.orm.jpa: DEBUG
    com.wochib70: DEBUG